*{box-sizing: border-box;}
img{width: 100%; height: 100%; display: block;}
.headertop{
    border: solid blue 1px;
    height: 100px;
    display: flex;
    flex-wrap: wrap;
}
.navleft, .navright{
    width: 50%;
    height: 100px;
    border: red solid 1px;
    display: flex;
    flex-wrap: wrap;
}
.navleft div:nth-child(1){
    width: 100px;
}
.homeiconimg{
    padding: 20px;
}
.navleft div:nth-child(2){
    padding: 30px 10px;
    font-family:"Arial Black";
    font-size: 1.4em;
}
.homeiconimg:hover{
    opacity: 0.5;
}
.homeiconlink{
    text-decoration: none;
    color:lightseagreen;
}
.homeiconlink:hover{
    color:darkslateblue;
    text-decoration: underline;
}
.navright div{
    width: 20%;
    padding: 20px;
    height: 100%;
}
.navright div:nth-child(1){
    margin-left: auto;
}
.navright div:hover{
    cursor: pointer;
    opacity: 0.5;
}