*{box-sizing: border-box;} /*preserve the 100% width of the screen */
img{width: 100%; display: block;}
.header{
    display: flex;
}
.logo{
    width: 7%;
    padding: 1em;
    margin-left: 5%;
}
.title{
    width: 50%;
    text-align: center;
    padding: 1em;
    font-size: 2.5em;
    color: darkblue;
    font-family:'Franklin Gothic Medium';
}
.quicklinks{
    width: 20%;
    font-size: 1.5em;
    margin-left: auto;
    display: flex;
}
.quicklinks a{
    display: inline-block;
    width: 40%;
    text-align: right;
    padding: 1.2em 0.2em;
    text-decoration: none;
}
.quicklinks a:hover{
    opacity: 0.6;
    transform: scale(1.05);
}
/* NAVLINKS */
.navlinks{
    width: 100%;
    background-color: aliceblue;
    display: flex;
    justify-content: center;
}
.navlinks a{
    display: inline-block;
    width: 20%;
    text-align: center;
    padding: 1em;
    font-size: 1.2em;
    color: darkblue;
    text-decoration: none;
}
.navlinks a:hover{
    background-color: aqua;
}

/* MAIN - INTRO IMAGE*/
.introimage{
    position: relative;
}
.intro{
    position: absolute;
    bottom: 20%;
    right: 10%;
    background-color: rgba(200,200,200, 0.6);
    padding: 1em 2em;
    border-radius: 12px;
}
.intro h1{
    color: darkblue;
}
.intro p{
    font-size: 1.2em;
}
/* CARDS */
.subtitle{
    text-align: center;
}
.cardscontainer{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.card, .verticalcard{
    height: auto;
    width: 400px;
    box-shadow: 1px 1px 5px gray;
    border-radius: 10px;
    overflow: hidden;
    margin: 1% 2%;
}
.card img{
    height: 250px;
}
.card p{
    padding: 1em;
}
.card a{
    display: block;
    background-color: darkblue;
    padding: 1em;
    color: whitesmoke;
    text-align: center;
    font-weight: 900;
    text-decoration: none;
}
.card a:hover{
    opacity: 0.6;
    font-size: 1.05em;
}
.verticalcard{
    position: relative;
    transition: ease-in-out 200ms;
}
.verticalcard h3{
    position: absolute;
    bottom: 10%;
    left: 20%;
    right: 20%;
    text-align: center;
    color: white;
    font-size: 2em;
}
.verticalcard:hover{
    transform: translateY(20px);
    box-shadow: 0px -5px 10px gray;
}
.verticalcard:hover .h3card{
    color: crimson;
}
.verticalcard:hover .imgvertical{
    filter: blur(3px);
}
.linkcard{
    margin: 2%;
    display: block;
    width: 400px;
}
/* FOOTER */
.footer{
    margin-top: 2em;
    text-align: center;
    background-color: darkblue;
    color: azure;
    padding: 3em;
}