*{box-sizing: border-box;}
.title{
    text-align: center;
    border-bottom: dashed 1px gray;
    padding: 20px;
    color: blueviolet;
}
#username{
    padding: 5px 10px;
    border: solid gray 1px;
    background-color: aliceblue;
    border-radius: 5px;
}
.btnsubmit{
    padding: 5px 10px;
    background-color: crimson;
    border-radius: 5px;
    border: none;
    color: white;
}
.btnsubmit:hover{
    background-color: darkslateblue;
    font-weight: bolder;
    cursor: pointer;
}
.greeting{
    margin-top: 50px;
}
.greeting p span{
    color: blueviolet;
    font-family: "consolas";
    font-weight: bolder;
}
/*PASSWORD VALIDATION*/
.subtitle{color: rgb(100,100,100); margin-top: 100px;}
#password{
    padding: 5px 10px;
    border: solid gray 1px;
    background-color: aliceblue;
    border-radius: 5px;
}
.btnlogin{
    padding: 5px 10px;
    background-color: crimson;
    border-radius: 5px;
    border: none;
    color: white;
}
.btnlogin:hover{
    background-color: darkslateblue;
    font-weight: bolder;
    cursor: pointer;
}
.btnlogin:disabled{
    background-color: rgba(220, 20, 60, 0.5);
    cursor:not-allowed;
    font-weight: lighter;
}
.passwordmsg{
    font-size: 0.8em;
    color: rgb(100,100,100)
}
#passworderror{
    color: crimson;
    font-weight: bolder;
}
